#main-menu, nav {
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
  font-size: 1.5em;
  background-color: #102684;
  position: fixed;
  z-index: 9001; }

#main-menu {
  margin: 0;
  height: 1.5em;
  padding: 0.25em 0.5em 0.25em 2.25em;
  top: 0;
  left: 0;
  background-position: 0.25em center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50em;
  opacity: 0.5;
  border-bottom: 1px solid transparent;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out; }
  #main-menu:hover {
    opacity: 1; }
  #main-menu.nav-menu-open {
    background-image: url("../img/icons/close.svg");
    width: 9em;
    opacity: 1;
    border-color: white; }
  #main-menu:not(.nav-menu-open) {
    background-image: url("../img/icons/menu.svg");
    width: 2em; }

.nav-links {
  color: white;
  text-decoration: none; }

nav {
  top: 2em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 11.75em;
  height: calc(100% - 2.5em);
  overflow-y: auto;
  transition: left 0.25s ease-in-out;
  -webkit-transition: left 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out; }
  nav ul {
    width: 100%;
    margin: 0;
    padding: 0; }
    nav ul:not(:first-of-type) > a::before {
      position: absolute;
      content: '';
      background-image: url("../img/icons/drop_arrow_down_w.svg");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0; }
    nav ul > a {
      display: block;
      position: relative;
      padding: 0.25em;
      transition: background-color 0.25s ease-in-out;
      -webkit-transition: background-color 0.25s ease-in-out;
      -moz-transition: background-color 0.25s ease-in-out;
      -o-transition: background-color 0.25s ease-in-out; }
      nav ul > a:hover {
        background-color: #0736f8; }
    nav ul li {
      list-style-type: none;
      visibility: visible;
      opacity: 1;
      max-height: 30em;
      padding: 0.25em;
      background-color: #12193b;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
      nav ul li a {
        background-position: center left;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 2em;
        display: block;
        transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -moz-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out; }
        nav ul li a:hover {
          text-decoration: underline; }
      nav ul li:hover {
        background-color: #0736f8; }
    nav ul.nav-group-open:not(:first-of-type) > a::before {
      background-position: center left;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg); }
    nav ul:not(.nav-group-open) li {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      padding: 0; }
  nav:not(.nav-menu-open) {
    left: -11.75em; }

/*# sourceMappingURL=nav.css.map */
