nav {
  width: 100%;
  font-family: "Montserrat", "Georgia", sans-serif;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001; }
  nav section:first-of-type {
    background-color: #102684;
    height: 2.5em; }
    nav section:first-of-type div:first-of-type {
      float: left;
      margin-left: 3em; }
      nav section:first-of-type div:first-of-type a {
        background-image: url("../img/icons/logo_w_no_ring.svg");
        background-color: transparent;
        font-family: "Open Sans", "Verdana", sans-serif; }
        nav section:first-of-type div:first-of-type a::after {
          content: '';
          background-image: url("../img/icons/logo_c_no_ring.svg");
          position: absolute;
          left: 0;
          top: 0;
          height: 2.5em;
          width: 1.7em;
          background-size: 1.5em;
          background-position: 0.15em center;
          background-repeat: no-repeat;
          visibility: hidden;
          opacity: 0;
          transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out; }
        nav section:first-of-type div:first-of-type a:hover {
          color: #d4b92b; }
          nav section:first-of-type div:first-of-type a:hover::after {
            visibility: visible;
            opacity: 1; }
    nav section:first-of-type div:last-of-type {
      float: right;
      margin-right: 3em; }
      nav section:first-of-type div:last-of-type a {
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; }
        nav section:first-of-type div:last-of-type a:hover {
          background-color: #0736f8; }
    nav section:first-of-type div a {
      text-decoration: none;
      background-position: 0.15em center;
      background-size: 1.5em;
      background-repeat: no-repeat;
      padding-left: 1.7em;
      padding-right: 0.35em;
      color: white;
      background-color: transparent;
      display: inline-block;
      height: 2.5em;
      line-height: 2.5em;
      position: relative;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
      nav section:first-of-type div a.selected-group {
        background-color: #0736f8;
        border-color: white; }
  nav section:last-of-type {
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    nav section:last-of-type:not(.open-menu) {
      visibility: hidden;
      opacity: 0; }
    nav section:last-of-type a {
      text-decoration: none; }
    nav section:last-of-type .submenu-button-container {
      background-color: #bbb;
      text-align: right;
      width: 100%; }
      nav section:last-of-type .submenu-button-container a {
        color: white;
        visibility: visible;
        opacity: 1;
        display: inline-block;
        padding: 0.35em;
        width: 1.5em;
        height: 1.5em;
        background-image: url("../img/icons/close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: transparent;
        position: absolute;
        right: 0;
        z-index: 9001;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out; }
        nav section:last-of-type .submenu-button-container a:hover {
          background-color: #ddd; }
      nav section:last-of-type .submenu-button-container:not(.open-menu) a {
        visibility: hidden;
        opacity: 0; }
    nav section:last-of-type ul {
      margin: 0;
      padding: 0;
      min-height: 10em;
      padding-top: 3em;
      position: absolute;
      width: 100%;
      background-color: #bbb;
      top: 2.5em;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
      nav section:last-of-type ul:not(.open-submenu) {
        visibility: hidden;
        opacity: 0; }
      nav section:last-of-type ul li {
        list-style-type: none;
        display: inline-block;
        width: 25%;
        height: 10em;
        text-align: center; }
        nav section:last-of-type ul li a {
          display: inline-block;
          width: 80%;
          height: 80%;
          position: relative;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          color: black;
          transition: color 0.25s ease-in-out;
          -webkit-transition: color 0.25s ease-in-out;
          -moz-transition: color 0.25s ease-in-out;
          -o-transition: color 0.25s ease-in-out; }
          nav section:last-of-type ul li a span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0; }
          nav section:last-of-type ul li a:hover {
            color: white; }
            nav section:last-of-type ul li a:hover .fog {
              opacity: 0.15; }
      nav section:last-of-type ul.open-submenu {
        visibility: visible;
        opacity: 1; }
      nav section:last-of-type ul.apps-submenu li {
        width: 10em; }
        nav section:last-of-type ul.apps-submenu li a {
          border-radius: 5%;
          -webkit-border-radius: 5%;
          -moz-border-radius: 5%; }
          nav section:last-of-type ul.apps-submenu li a .fog {
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%; }
  nav.with-splash section:first-of-type {
    background-color: transparent; }
    nav.with-splash section:first-of-type div:first-of-type {
      background-color: transparent;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
    nav.with-splash section:first-of-type div:last-of-type a:hover {
      background-color: rgba(124, 124, 124, 0.75); }
    nav.with-splash section:first-of-type div a {
      background-color: transparent; }
      nav.with-splash section:first-of-type div a.selected-group {
        background-color: rgba(124, 124, 124, 0.75);
        border-color: rgba(255, 255, 255, 0.75); }
  nav.with-splash section:last-of-type .submenu-button-container {
    background-color: rgba(124, 124, 124, 0.75); }
    nav.with-splash section:last-of-type .submenu-button-container a:hover {
      background-color: rgba(168, 168, 168, 0.75); }
  nav.with-splash section:last-of-type ul {
    background-color: rgba(124, 124, 124, 0.75); }

.fog {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out; }

/*# sourceMappingURL=nav4.css.map */
