nav {
  width: 100%;
  font-family: "Montserrat", "Georgia", sans-serif;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9001; }
  nav section {
    background-color: #102684;
    height: 2.5em; }
    nav section div.home-button {
      float: left;
      margin-left: 3em;
      position: relative;
      z-index: 9002; }
      nav section div.home-button a {
        background-image: url("../img/icons/logo_w_no_ring.svg");
        background-color: transparent;
        font-family: "Open Sans", "Verdana", sans-serif; }
        nav section div.home-button a::after {
          content: '';
          background-image: url("../img/icons/logo_c_no_ring.svg");
          position: absolute;
          left: 0;
          top: 0;
          height: 2.5em;
          width: 1.7em;
          background-size: 1.5em;
          background-position: 0.15em center;
          background-repeat: no-repeat;
          visibility: hidden;
          opacity: 0;
          transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out; }
        nav section div.home-button a:hover {
          color: #d4b92b; }
          nav section div.home-button a:hover::after {
            visibility: visible;
            opacity: 1; }
    nav section div.submenu-button-container {
      position: absolute;
      background-color: #bbb;
      text-align: right;
      width: 100%;
      top: 2.5em; }
      nav section div.submenu-button-container a {
        color: white;
        visibility: visible;
        opacity: 1;
        display: inline-block;
        padding: 0.35em;
        width: 1.5em;
        height: 1.5em;
        background-image: url("../img/icons/close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: transparent;
        position: absolute;
        right: 0;
        z-index: 9001;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out; }
        nav section div.submenu-button-container a:hover {
          background-color: #ddd; }
      nav section div.submenu-button-container:not(.open-menu) a {
        visibility: hidden;
        opacity: 0; }
    nav section div.nav-links {
      position: absolute;
      width: 100%;
      text-align: right; }
      nav section div.nav-links > a {
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; }
        nav section div.nav-links > a:hover {
          background-color: #0736f8; }
        nav section div.nav-links > a:last-of-type {
          margin-right: 3em; }
      nav section div.nav-links ul {
        margin: 0;
        padding: 0;
        min-height: 10em;
        padding-top: 3em;
        position: absolute;
        width: 100%;
        background-color: #bbb;
        top: 2.5em;
        text-align: initial;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out; }
        nav section div.nav-links ul:not(.open-submenu) {
          visibility: hidden;
          opacity: 0; }
        nav section div.nav-links ul li {
          list-style-type: none;
          display: inline-block;
          width: 25%;
          height: 10em;
          text-align: center; }
          nav section div.nav-links ul li a {
            display: inline-block;
            width: 80%;
            height: 80%;
            position: relative;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            color: black;
            transition: color 0.25s ease-in-out;
            -webkit-transition: color 0.25s ease-in-out;
            -moz-transition: color 0.25s ease-in-out;
            -o-transition: color 0.25s ease-in-out; }
            nav section div.nav-links ul li a span {
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0; }
            nav section div.nav-links ul li a:hover {
              color: white; }
              nav section div.nav-links ul li a:hover .fog {
                opacity: 0.15; }
        nav section div.nav-links ul.open-submenu {
          visibility: visible;
          opacity: 1; }
        nav section div.nav-links ul.apps-submenu li {
          width: 10em; }
          nav section div.nav-links ul.apps-submenu li a {
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%; }
            nav section div.nav-links ul.apps-submenu li a .fog {
              border-radius: 5%;
              -webkit-border-radius: 5%;
              -moz-border-radius: 5%; }
    nav section div > a {
      text-decoration: none;
      background-position: 0.15em center;
      background-size: 1.5em;
      background-repeat: no-repeat;
      padding-left: 1.7em;
      padding-right: 0.35em;
      color: white;
      background-color: transparent;
      display: inline-block;
      height: 2.5em;
      line-height: 2.5em;
      position: relative;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
      nav section div > a.selected-group {
        background-color: #0736f8;
        border-color: white; }
  nav.with-splash section {
    background-color: transparent; }
    nav.with-splash section div.home-button {
      background-color: transparent;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out; }
    nav.with-splash section div.submenu-button-container {
      background-color: rgba(124, 124, 124, 0.75); }
      nav.with-splash section div.submenu-button-container a:hover {
        background-color: rgba(168, 168, 168, 0.75); }
    nav.with-splash section div.nav-links a:hover {
      background-color: rgba(124, 124, 124, 0.75); }
    nav.with-splash section div.nav-links ul {
      background-color: rgba(124, 124, 124, 0.75); }
    nav.with-splash section div > a {
      background-color: transparent; }
      nav.with-splash section div > a.selected-group {
        background-color: rgba(124, 124, 124, 0.75);
        border-color: rgba(255, 255, 255, 0.75); }

.fog {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.4) 100%);
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out; }

/*# sourceMappingURL=nav5.css.map */
