<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang | About Me</title>
        <link type="image/x-icon" rel="shortcut icon" href="/img/icons/icon.ico"/>
        <link rel="apple-touch-icon" href="/img/icons/apple-logo.png"/>
        <link rel="icon" href="/img/icons/android-logo.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link type="text/css" rel="stylesheet" href="/css/common.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/nav.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/about.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="/js/bhangular.min.js"></script>
    </head>
    <body ng-app="bhang-app" ng-controller="bhang-ctrl">
        <nav class="nav-menu" ng-include="'/components/html/navbar.html'" ng-class="{'main-menu-open': mobileMenu}"></nav>
        <div class="content">
            <div class="content-background"></div>
            <div class="content-wrapper">
                <div class="content-picture">
                    <img src="/img/content/flying_kick-1280.jpg"/>
                </div><!--
                --><article>
                    <h1 class="title">ABOUT ME</h1>
                    <p>
                        &ldquo;Why do we fall, Bruce? So we can learn to pick ourselves up.&rdquo;
                        Fans of the Batman films will instantly recognize this line spoken by Bruce
                        Wayne&apos;s father in <i>Batman Begins</i>. Over the years, this quote has become
                        somewhat of a personal mantra of mine; it reminds me that regardless of the
                        adversity I may face, I can persevere as long as I have strength to soldier
                        on. My name is Brandon S. Hang and this is my story.
                    </p>
                    <p>
                        The elder son of refugees from the Vietnam War, I was born in
                        <a href="#" ng-click="showPicture($event, 'hbg-1280.jpg')">Harrisburg, Pennsylvania</a>,
                        a place I still call home. I grew up as any typical child might have in the
                        suburbs of Harrisburg: a handful of organized team sports, a sprinkling of
                        video games, and a light dusting of mischief. However, it was in the 4th
                        grade where I would be introduced to my love affair with music.
                    </p>
                    <p>
                        My first instrument was a King 606 trombone, a shiny, gold hunk of brass that
                        was <a href="#" ng-click="showPicture($event, 'tbone-1280.jpg')">nearly as tall as I was</a>!
                        This behemoth was a struggle just to carry around school! I got over it though
                        (eh, maybe not...) and everything cascaded from there. I picked up the
                        saxophone in 6th grade followed by the piano in 7th grade. I even learned to
                        <a href="#" ng-click="showPicture($event, 'drummer_boy-1000.jpg')">play the drums</a> in high
                        school! I joined numerous pit orchestras, played in a number of regional and
                        state bands, and even had
                        <a href="#" ng-click="showPicture($event, '4DF-1280.jpg')">my own jazz combo</a> in high school.
                    </p>
                    <p>
                        After graduating from high school, I enrolled (for the first time) as an
                        undergraduate at the University of Pittsburgh, originally for pharmacy. Well,
                        things changed and I switched my major to biology with the intent of entering
                        some sort of professional healthcare school afterwards. Throughout my years of
                        study at Pitt, I enjoyed new hobbies, such as taekwondo and digital media
                        creation, and rediscovered my love for
                        <a href="#" ng-click="showPicture($event, 'tmg-1280.jpg')">playing tennis</a> and
                        basketball. I was even fortunate enough to
                        <a href="#" ng-click="showPicture($event, 'jet_blues-1280.jpg')">travel to Jamaica</a> with
                        the Pitt Jazz Ensemble to play for underprivileged middle and high school students.
                    </p>
                    <p>
                        I graduated from Pitt in <a href="#" ng-click="showPicture($event, 'confetti-1280.jpg')">2012</a>
                        with a B.S. in Biological Sciences and quickly earned a M.S. in Biology from
                        Shippensburg University in <a href="#" ng-click="showPicture($event, 'grad-grad-1280.jpg')">2013</a>.
                        This marked a major turning point in my life. During that time, I juggled
                        different career paths along with unemployment. One minute, I was in quality
                        control for a food manufacturing plant and the next I was a certified nursing
                        assistant in a bid for physician assistant schools. In any case, I was never
                        truly satisfied with how my story was unfolding and that I could not find the
                        stability that I sought.
                    </p>
                    <p>
                        And so, I finally decided to return to school in 2015, to a place I knew I&apos;d
                        return to someday. That place is the University of Pittsburgh, a place where I
                        can start over and get that second chance so few ever get. After all, the great
                        philosopher Iroh once spoke, &ldquo;Life happens wherever you are, whether you
                        make it or not,&rdquo; so why not make something of it? It wasn&apos;t long after I
                        reentered school though&mdash;four hundred and seventy-four days, to be
                        precise&mdash;that I left again, this time with a B.S. in Computer Science. A
                        mere three days later, I began my career as a Software Developer!
                    </p>
                    <p>
                        So, what&apos;s next? I don&apos;t really know, I don&apos;t know the future. But I&apos;m not here
                        to tell you how this was going to end. I&apos;m here to tell you how it&apos;s going to
                        begin. My last few years have been truly blessed&mdash;I came out of musical
                        retirement, I landed a position in a satisfying field, I reconnected with old
                        friends, and made new lifelong ones. My name is
                        <a href="#" ng-click="showPicture($event, 'walk_tall-1280.jpg')">Brandon S. Hang</a> and this
                        is my story, but the next chapters have yet to be written.
                    </p>
                    <p><a href="#" ng-click="showPicture($event, 'chosen_one.jpg')">Trust the Process&trade;</a>.</p>
                </article>
            </div>
        </div>
        <div id="lightbox" ng-class="{'light-em-up': lightbox}" escape-key-press="closePicture()">
            <div id="lightbox-close" ng-click="closeLightbox()">CLOSE</div>
            <div id="lightbox-image"></div>
        </div>
        <footer id="built-in-footer" ng-include="'/components/html/footer.html'"></footer>
    </body>
</html>
