<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="./img/icons/icon.ico"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link type="text/css" rel="stylesheet" href="./css/nav5.css"/>
        <link type="text/css" rel="stylesheet" href="./css/shared.css"/>
        <link type="text/css" rel="stylesheet" href="./css/splash3.css"/>
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script type="text/javascript" src="./js/bhang.js"></script>
    </head>
    <body ng-app="bhang-app" ng-controller="bhang-ctrl">
        <nav ng-include="'./components/html/navbar2.html'" ng-class="{'with-splash': activeView == 'splash'}"></nav>
        <section class="group splash" ng-include="'./components/html/splash.html'" ng-class="{'active-view': activeView == 'splash'}"></section>
        <section class="group personal" ng-class="{'active-view': activeView == 'personal'}">
            <div class="section" ng-repeat="link in navData.personal.links" id="{{ link.url }}">
                <h2 class="section-title">{{ link.title }}</h2>
            </div>
        </section>
        <section class="group professional" ng-class="{'active-view': activeView == 'professional'}">
            <div class="section" ng-repeat="link in navData.professional.links" id="{{ link.url }}">
                <h2 class="section-title">{{ link.title }}</h2>
            </div>
        </section>
    </body>
</html>
