<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="./img/icons/icon.ico"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link type="text/css" rel="stylesheet" href="/css/common.css"/>
        <link type="text/css" rel="stylesheet" href="/css/nav.css"/>
        <link type="text/css" rel="stylesheet" href="/css/photos.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="/js/bhangular.js"></script>
    </head>
    <body>
        <nav ng-app="bhang-app" ng-controller="bhang-ctrl" class="nav-menu" ng-include="'/components/html/navbar.html'" ng-class="{'main-menu-open': mobileMenu}"></nav>
        <div class="content">
            <div class="content-background"></div>
            <div class="content-wrapper">
                <div class="content-picture">
                    <img src="/img/content/the_enemy.jpg"/>
                </div><!--
                --><div class="content-section">
                    <h1 class="title">PHOTOGRAPHY</h1>
                    <p>I dabble in photography when I have free time. I primarily shoot with a
                        Nikon D5300, but I occasionally take photos with a Canon PowerShot SX200 IS,
                        a Canon EOS Rebel T3, and a Samsung Galaxy S7. To see more of my pictures,
                        <a href="https://www.flickr.com/photos/dangitshang" target="_blank">visit my Flickr page</a>!
                    </p>
                    <div ng-app="flickr-app" ng-controller="flickr-ctrl" id="flickr-photos">
                        <h1 class="subtitle">{{currentPhotoView}}</h1>
                        <div class="return-wrapper">
                            <button class="button" ng-if="!albumView" href="#" ng-click="viewAlbumList($event)">
                                <span>Return to albums</span>
                            </button>
                        </div>
                        <div ng-if="loadingAlbum && !loadAlbumError" class="album-loader">
                            <div ng-class="loadAlbumError ? 'album-err-msg' : 'album-load-msg'">
                                <h3 ng-if="!loadAlbumError">Loading photos...</h3>
                                <h3 ng-if="loadAlbumError">An error occurred loading Flickr photos.</h3>
                                <h3 ng-if="loadAlbumError">Try again later.</h3>
                            </div>
                        </div>
                        <div class="thumbnail-wrapper">
                            <div ng-if="albumView" ng-repeat="album in flickrAlbumList.photoset" ng-click="viewAlbumSet($event, album.id)" class="flickr-photo flickr-album photo-div" style="background-image: url('https://farm{{album.farm}}.staticflickr.com/{{album.server}}/{{album.primary}}_{{album.secret}}_n.jpg')">
                                <div class="link-wrapper">
                                    <a href="#" >{{album.title._content}}</a>
                                </div>
                            </div>
                            <a href="https://www.flickr.com/photos/dangitshang/albums" target="_blank" ng-if="albumView && flickrAlbumList.total > 6" class="flickr-photo flickr-album more-photos">
                                <div class="link-wrapper">
                                    <span class="target-blank">{{flickrAlbumList.total - 6}} more album{{flickrAlbumList.total > 7 ? 's' : ''}}</span>
                                </div>
                            </a>
                            <div ng-if="!albumView" ng-repeat="(index, photo) in flickrPhotoset.photo" ng-click="viewFlickrPhoto($event, index)" class="flickr-photo photo-div" style="background-image: url('https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_n.jpg')">
                                <div class="link-wrapper">
                                    <a href="#">{{photo.title}}</a>
                                </div>
                            </div>
                            <a href="https://www.flickr.com/photos/dangitshang/albums/{{flickrPhotoset.id}}" target="_blank" ng-if="!albumView && flickrPhotoset.total > 16" class="flickr-photo more-photos">
                                <div class="link-wrapper">
                                    <span class="target-blank">{{flickrPhotoset.total - 16}} more picture{{flickrPhotoset.total > 17 ? 's' : ''}}</span>
                                </div>
                            </a>
                            <div id="lightbox" ng-class="{'light-em-up': lightbox}" escape-key-press="closePicture()" next-picture="nextPic()" prev-picture="prevPic()">
                                <div id="lightbox-close" ng-click="closeLightbox()">CLOSE</div>
                                <div id="prev-image" class="img-nav" ng-click="prev($event)"><img src="/img/icons/arrow_back.svg"/></div>
                                <div id="next-image" class="img-nav" ng-click="next($event)"><img src="/img/icons/arrow_forward.svg"/></div>
                                <div id="lightbox-image"></div>
                                <a class="lightbox-title" href="https://www.flickr.com/photos/dangitshang/{{photoID}}" title="View on Flickr" target="_blank">{{pictureTitle}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./js/dangitshang-flickr.js"></script>
    </body>
</html>
