<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="/img/icons/icon.ico"/>
        <link rel="apple-touch-icon" href="/img/icons/apple-logo.png"/>
        <link rel="icon" href="/img/icons/android-logo.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link type="text/css" rel="stylesheet" href="/css/common.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/nav.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/resume.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="/js/bhangular.min.js"></script>
    </head>
    <body>
        <nav ng-app="bhang-app" ng-controller="bhang-ctrl" class="nav-menu" ng-include="'/components/html/navbar.html'" ng-class="{'main-menu-open': mobileMenu}"></nav>
        <div class="content">
            <div class="content-background"></div>
            <div class="content-wrapper">
                <div class="content-picture">
                    <img src="/img/content/walk_tall-1280.jpg"/>
                </div><!--
                --><div class="content-section" ng-app="work-app" ng-controller="work-ctrl" id="work-app">
                    <h1 class="title">R&Eacute;SUM&Eacute;</h1>
                    <div class="resume-section work-section main-section">
                        <h1 class="subtitle">Work Experience</h1>
                        <div ng-repeat="work in resume.work" class="work-entry">
                            <div class="icon-wrapper">
                                <div class="company-icon current-icon" style="background-image: url('/img/icons/{{work.icon}}')"></div>
                                <div class="company-icon old-icon" style="background-image: url('/img/icons/{{work.old}}')"></div>
                            </div><!--
                            --><div class="work-header">
                                <h4>{{work.title}}</h4>
                                <h4>{{work.company}}</h4>
                                <h4 class="subheader">{{work.date}}</h4>
                                <h4 class="subheader">{{work.location}}</h4>
                            </div>
                            <div class="work-duties">
                                <ul>
                                    <li ng-repeat="duty in work.duties">{{duty}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="resume-section skills-section">
                        <h1 class="subtitle">Skills</h1>
                        <div ng-repeat="skill in resume.skills" class="skill-entry">
                            <h4>{{skill.name}}</h4>
                            <ul>
                                <li ng-repeat="tech in skill.list" class="technique">{{tech}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="resume-section education-section">
                        <h1 class="subtitle">Education</h1>
                        <div ng-repeat="school in resume.education" class="school-entry">
                            <div class="icon-wrapper">
                                <div class="company-icon current-icon" style="background-image: url('/img/icons/{{school.logo}}')"></div>
                                <div class="company-icon old-icon" style="background-image: url('/img/icons/{{school.seal}}')"></div>
                            </div><!--
                            --><div class="school-header">
                                <h4>{{school.school}}</h4>
                                <h4>{{school.location}}</h4>
                                <h4 class="subheader">{{school.type}} {{school.major}}<span ng-if="school.minor !== undefined">, Minor in {{school.minor}}</span></h4>
                                <h4 class="subheader">{{school.years[0]}} &ndash; {{school.years[1]}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="resume-section work-section">
                        <h1 class="subtitle">Other Work Experience</h1>
                        <div ng-repeat="work in resume.unrelated" class="work-entry">
                            <div class="icon-wrapper">
                                <div class="company-icon current-icon" style="background-image: url('/img/icons/{{work.icon}}')"></div>
                            </div><!--
                            --><div class="work-header">
                                <h4>{{work.title}}</h4>
                                <h4>{{work.company}}</h4>
                                <h4 class="subheader">{{work.date}}</h4>
                                <h4 class="subheader">{{work.location}}</h4>
                            </div>
                            <div class="work-duties">
                                <ul>
                                    <li ng-repeat="duty in work.duties">{{duty}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" ng-app="footer" ng-controller="footwork" ng-include="'/components/html/footer.html'"></footer>
        <script type="text/javascript" src="/js/work.min.js"></script>
    </body>
</html>
