<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="./img/icons/icon.ico"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300">
        <link type="text/css" rel="stylesheet" href="./css/nav.css"/>
        <link type="text/css" rel="stylesheet" href="./css/splash.css"/>
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script type="text/javascript" src="./js/bhangular.js"></script>
    </head>
    <body ng-app="bhang-app" ng-controller="bhang-ctrl">
        <div id="nav-menu" ng-include="'./components/html/nav-menu.html'"></div>
        <div class="splash-container" ng-click="closeMenu()">
            <div class="splash-main" ng-class="{'splash-view': splashCurrent == 'main'}">
                <a href="#" ng-click="changeSplash($event, 'personal')">Personal</a>
                <a href="#" ng-click="changeSplash($event, 'professional')">Professional</a>
            </div>
            <div class="splash-personal" ng-class="{'splash-view': splashCurrent == 'personal'}">
                <a href="#" ng-click="changeSplash($event, 'main')">Home</a><br/>
                <a ng-repeat-start="link in navData.personal.links" href="/personal#{{ link.url }}">{{ link.title }}</a><br ng-repeat-end/>
            </div>
            <div class="splash-professional" ng-class="{'splash-view': splashCurrent == 'professional'}">
                <a href="#" ng-click="changeSplash($event, 'main')">Home</a><br/>
                <a ng-repeat-start="link in navData.professional.links" href="/professional#{{ link.url }}">{{ link.title }}</a><br ng-repeat-end/>
            </div>
        </div>
    </body>
</html>
