<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="./img/icons/icon.ico"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300">
        <style>
            body {
                padding: 0;
                margin: 0;
                background-color: #ddd;
                font-family: 'Open Sans', 'Verdana', sans-serif;
                font-size: 12px;
            }
        </style>
        <link type="text/css" rel="stylesheet" href="./css/nav2.css"/>
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script type="text/javascript" src="./js/bhang.js"></script>
    </head>
    <body ng-app="bhang-app" ng-controller="bhang-ctrl">
        <nav>
            <div>
                <a class="nav-group" href="#" ng-click="navigate($event, 'home')" style="background-image: url('./img/icons/logo_w.svg');">HOME</a>
                <a class="nav-group" href="#" ng-click="openSubMenu($event, 'Personal')" style="background-image: url('./img/icons/personal_w.svg');">PERSONAL</a>
                <ul ng-class="{'collapsed': !menuGroup.Personal}">
                    <li ng-repeat="link in navData.personal.links">
                        <a class="nav-link" href="#" ng-click="navigate($event, link.url)" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
                    </li>
                </ul>
                <a class="nav-group" href="#" ng-click="openSubMenu($event, 'Professional')" style="background-image: url('./img/icons/memory_w.svg');">PROFESSIONAL</a>
                <ul ng-class="{'collapsed': !menuGroup.Professional}">
                    <li ng-repeat="link in navData.professional.links">
                        <a class="nav-link" href="#" ng-click="navigate($event, link.url)" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
                    </li>
                </ul>
                <a ng-repeat-start="navGroup in navData.miscellaneous" class="nav-group" href="#" ng-click="openSubMenu($event, navGroup.group)" style="background-image: url('./img/icons/{{ navGroup.group | lowercase }}_w.svg');">{{ navGroup.group | uppercase }}</a>
                <ul ng-class="{'collapsed': !menuGroup[navGroup.group]}" ng-repeat-end>
                    <li ng-repeat="link in navGroup.links">
                        <a class="nav-link" href="#" ng-click="navigate($event, link.url)" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
