@import 'partials/_variables';
@import 'partials/_mixins';

body {
    @media #{$small-screen} and (min-height: 701px) {
        // overflow-y: hidden;
    }

    @media only screen and (max-width: 500px) {
        overflow-y: visible;
    }
}

.content {
    background-color: #001a0f;
    background-image: url('/img/bkgrds/home-o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: relative;
    margin-bottom: 0 !important;

    @media only screen and (max-width: 3000px) {
        background-image: url('/img/bkgrds/home-3000.jpg');
    }

    @media only screen and (max-width: 2000px) {
        background-image: url('/img/bkgrds/home-2000.jpg');
    }

    @media only screen and (max-width: 1000px) {
        background-image: url('/img/bkgrds/home-1000.jpg');
    }

    .panel-outer-wrapper {
        width: 40%;
        margin-left: 60%;
        @include translateY(65%);

        .panel-inner-wrapper {
            width: 80%;
            max-width: 450px;
            background-color: rgba(53, 53, 53, 0.6);
            @include border-radius(4px);
            padding: 1.5em;

            .introduction {
                margin: 1.5em;

                .title {
                    font-size: 2.5em;
                    margin: 0.5em 0;
                    color: white;

                    &::after {
                        content: '';
                        width: 2em;
                        border-bottom: 0.2em solid #888;
                        display: block;
                        margin-top: 0.5em;
                    }
                }

                .abridged-bio {
                    font-size: 1.5em;
                    color: white;
                }
            }

            .view-select {
                margin: 1.5em;
                text-align: center;

                a {
                    &:first-of-type {
                        margin-right: 1em;
                    }

                    &:last-of-type {
                        margin-left: 1em;
                    }

                    .button {
                        color: white;
                        background-color: $brick-red;

                        &:hover {
                            background-color: $brick-red-fade;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            width: 45%;
            margin-left: 55%;
            @include translateY(60%);
        }

        @media only screen and (max-width: 1000px) {
            width: 50%;
            margin-left: 50%;
            @include translateY(55%);
        }

        @media only screen and (max-width: 900px) {
            width: 55%;
            margin-left: 45%;
            @include translateY(50%);
        }

        @media #{$small-screen} {
            width: 100%;
            margin-left: 0;
            position: absolute;
            @include translateY(0);
            bottom: 5em;

            .panel-inner-wrapper {
                width: 80%;
                margin: 0 auto;
            }
        }

        @media only screen and (max-width: 600px) {
            bottom: 2em;
        }

        @media only screen and (max-width: 500px) {
            position: relative;

            .panel-inner-wrapper {
                .view-select {
                    a {
                        display: block;

                        &:first-of-type {
                            margin-right: auto;

                            .button {
                                margin-bottom: 1em;
                            }
                        }

                        &:last-of-type {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    @media #{$small-screen} {
        margin-bottom: -1em;
        background-position: 5% top;
    }

    @media only screen and (max-width: 500px) {
        background-position: 90% center;

        .panel-outer-wrapper {
            &::before {
                content: '';
                width: 17em;
                height: 17em;
                margin: 7em auto -1.5em auto;
                @include border-radius(100%);
                background-image: url('/img/content/bhang-888.jpg');
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                position: relative;
                z-index: 2;
                border: 0.7em solid white;
                @include box-shadow(0 0 1px $light-gray);
            }

            .panel-inner-wrapper {
                .introduction {
                    .title {
                        font-size: 2.25em;
                    }
                }
            }
        }

        @media only screen and (min-height: 701px) {
            &::before, &::after {

            }
        }
    }
}
