@import 'partials/variables';

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: gray;
    font-family: $open-sans;
    font-size: 12px;
}

.content {
    height: 100%;

    .section {
        min-height: 100%;
        padding-top: 3em;

        h3 {
            text-align: center;
            margin: 0 auto;
        }
    }
}
