//////////////// Mixins ////////////////
@mixin transition($property, $time, $type: "") {
    transition: $property $time unquote($type);
    -webkit-transition: $property $time unquote($type);
    -moz-transition: $property $time unquote($type);
    -o-transition: $property $time unquote($type);
}

@mixin rotate($amt) {
    transform: rotate($amt);
    -webkit-transform: rotate($amt);
    -moz-transform: rotate($amt);
    -o-transform: rotate($amt);
}
