@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
        // background-image: url('/img/bkgrds/music1.jpg');
        // background-position: center 70%;
        // background-image: url('/img/bkgrds/music2.jpg');
        // background-position: center bottom;
        background-image: url('/img/bkgrds/music3.jpg');
        background-position: center 75%;
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/tboned.jpg');
                background-size: 200% auto;
                background-position: 5% 9%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;

            .music-notes {
                text-align: center;
            }

            .lightbox-wrapper {
                position: relative;

                .subtitle {
                    font-size: 2em;
                }

                .return-wrapper {
                    display: block;
                    margin-bottom: 2em;

                    .button {
                        background-color: $light-br-green;
                        color: white;

                        &:hover {
                            background-color: $british-racing-green;
                        }

                        span {
                            padding-left: 1.6em;
                            position: relative;

                            &::before {
                                content: '';
                                width: 1.35em;
                                height: 1.35em;
                                background-image: url('/img/icons/arrow_back.svg');
                                background-position: left center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }

                .thumbnail-wrapper {
                    .music-photo {
                        width: calc(33.33333333% - 1.33333333em);
                        padding-top: calc(33.33333333% - 1.33333333em);
                        margin: 1em;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        position: relative;
                        display: inline-block;
                        float: left;
                        cursor: pointer;
                        background-color: $light-gray;
                        @include transition(background-color, 0.25s, ease-in-out);
                        @include box-shadow(3px, 3px, 5px, rgba(0, 0, 0, 0.25));

                        &.music-video {
                            background-size: auto 135%;
                        }

                        &:nth-of-type(3n + 1) {
                            margin-left: 0;
                        }

                        &:nth-of-type(3n + 3) {
                            margin-right: 0;
                        }

                        &:hover {
                            background-color: #14171a;
                        }

                        @media only screen and (max-width: 1350px) {
                            width: calc(33.33333333% - 1em);
                            padding-top: calc(33.33333333% - 1em);
                            margin: 0.75em;
                        }

                        @media only screen and (max-width: 1200px) {
                            width: calc(33.33333333% - 0.8em);
                            padding-top: calc(33.33333333% - 0.8em);
                            margin: 0.6em;
                        }

                        @media #{$small-screen} {
                            width: calc(33.33333333% - 1.33333333em);
                            padding-top: calc(33.33333333% - 1.33333333em);
                            margin: 1em;
                        }

                        @media only screen and (max-width: 550px) {
                            width: calc(50% - 1em);
                            padding-top: calc(50% - 1em);

                            &:nth-of-type(3n + 1) {
                                margin-left: 1em;
                            }

                            &:nth-of-type(3n + 3) {
                                margin-right: 1em;
                            }

                            &:nth-of-type(odd) {
                                margin-left: 0 !important;
                            }

                            &:nth-of-type(even) {
                                margin-right: 0 !important;
                            }
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            padding-top: 100%;
                            background-color: transparent;
                            @include transition(background-color, 0.25s, ease-in-out);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include translate(-50%, -50%);
                        }

                        &:hover {
                            &::after {
                                background-color: rgba(0, 0, 0, 0.55);
                            }
                        }
                    }
                }
            }
        }
    }
}

#lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15000;
    @include transition(all, 0.25s, ease-in-out);
    background-image: url('/img/icons/img_load.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15em;
    visibility: hidden;
    opacity: 0;

    &.light-em-up {
        visibility: visible;
        opacity: 1;
    }

    @media only screen and (max-width: 1000px) {
        background-size: 13em;
    }

    @media #{$small-screen} {
        background-size: 11em;
    }

    @media only screen and (max-width: 600px) {
        background-size: 9em;
    }
}

#lightbox-close {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    color: white;
    font-size: 1.75em;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0.25em 0.5em 0.25em 1.6em;
    background-image: url('/img/icons/close.svg');
    background-position: 0.1em center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    cursor: pointer;
    background-color: transparent;
    @include transition(background-color, 0.25s, ease-in-out);

    &:hover {
        background-color: rgba(80, 80, 80, 0.75);
    }
}

#lightbox-image {
    width: 75%;
    height: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);

    @media only screen and (max-width: 1000px) {
        width: 80%;
        height: 80%;
    }

    @media #{$small-screen} {
        width: 85%;
        height: 85%;
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
        height: 90%;
    }
}

#lightbox, #lightbox-video {
    &.with-caption {
        background-position: center 38%;

        #lightbox-image {
            top: 40%;
            height: 60%;
            width: 60%;
        }

        .img-nav {
            top: 40%;
        }

        #prev-image {
            left: calc(20% - 3em);
        }

        #next-image {
            right: calc(20% - 3em);
        }

        .lightbox-caption {
            position: absolute;
            top: 70%;
            left: 12.5%;
            width: 75%;
            text-align: center;
            margin-top: 2.5em;
            font-size: 1.45em;
            color: white;
        }

        @media only screen and (max-width: 1000px) {
            #lightbox-image {
                height: 70%;
                width: 70%;
            }

            .lightbox-title {
                top: 75%;
                left: 15%;
            }

            #prev-image {
                left: calc(15% - 3em);
            }

            #next-image {
                right: calc(15% - 3em);
            }
        }

        @media #{$small-screen} {
            #lightbox-image {
                width: 80%;
            }

            .lightbox-title {
                left: 10%;
            }

            #prev-image {
                left: calc(10% - 3em);
            }

            #next-image {
                right: calc(10% - 3em);
            }
        }

        @media only screen and (max-width: 650px) {
            #lightbox-image {
                width: 85%;
            }

            .lightbox-title {
                left: 7.5%;
            }

            #prev-image {
                left: calc(7.5% - 3em);
            }

            #next-image {
                right: calc(7.5% - 3em);
            }
        }
    }
}
