@import 'partials/variables';
@import 'partials/mixins';

//////////////// Global Styles ////////////////
#main-menu, nav {
    font-family: $open-sans-condensed;
    font-size: 1.5em;
    background-color: $galaxy-blue;
    position: fixed;
    z-index: 9001;
}

#main-menu {
    margin: 0;
    height: 1.5em;
    padding: 0.25em 0.5em 0.25em 2.25em;
    top: 0;
    left: 0;
    background-position: 0.25em center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50em;
    opacity: 0.5;
    border-bottom: 1px solid transparent;
    @include transition(all, 0.25s, ease-in-out);

    &:hover {
        opacity: 1;
    }

    &.nav-menu-open {
        background-image: url('../img/icons/close.svg');
        width: 9em;
        opacity: 1;
        border-color: white;
    }

    &:not(.nav-menu-open) {
        background-image: url('../img/icons/menu.svg');
        width: 2em;
    }
}

.nav-links {
    color: white;
    text-decoration: none;
}

nav {
    top: 2em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 11.75em;
    height: calc(100% - 2.5em);
    overflow-y: auto;
    @include transition(left, 0.25s, ease-in-out);

    ul {
        width: 100%;
        margin: 0;
        padding: 0;

        &:not(:first-of-type) {
            > a {
                &::before {
                    position: absolute;
                    content: '';
                    background-image: url('../img/icons/drop_arrow_down_w.svg');
                    background-position: center right;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                }
            }
        }

        > a {
            display: block;
            position: relative;
            padding: 0.25em;
            @include transition(background-color, 0.25s, ease-in-out);

            &:hover {
                background-color: $world-rally-blue;
            }
        }

        li {
            list-style-type: none;
            visibility: visible;
            opacity: 1;
            max-height: 30em;
            padding: 0.25em;
            background-color: $dark-blue;
            @include transition(all, 0.25s, ease-in-out);

            a {
                background-position: center left;
                background-size: contain;
                background-repeat: no-repeat;
                padding-left: 2em;
                display: block;
                @include transition(opacity, 0.25s, ease-in-out);

                &:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                background-color: $world-rally-blue;
            }
        }

        &.nav-group-open {
            &:not(:first-of-type) {
                > a {
                    &::before {
                        background-position: center left;
                        @include rotate(180deg);
                    }
                }
            }
        }

        &:not(.nav-group-open) {
            &:not(:first-of-type) {
                > a {
                    &::before {

                    }
                }
            }

            li {
                visibility: hidden;
                opacity: 0;
                max-height: 0;
                padding: 0;
            }
        }
    }

    &:not(.nav-menu-open) {
        left: -11.75em;
    }
}
