@import 'partials/_variables';
@import 'partials/_mixins';

//////////////// Navigation Bar ////////////////
nav {
    width: 100%;
    font-family: $montserrat;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
    background-color: $blurple;
    height: 2.5em;
    color: white;
    @include box-shadow(3px, 3px, 5px, rgba(0, 0, 0, 0.25));

    .menu-button {
        display: none;
    }

    .nav-subwrapper {
        width: 88%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        @media only screen and (max-width: 1000px) {
            width: 91%;
        }

        @media only screen and (max-width: 900px) {
            width: 95%;
        }

        section {
            position: absolute;

            &:last-of-type {
                right: 0;
            }

            .link-group {
                height: 100%;
                display: inline-block;
                background-color: transparent;
                border-bottom: 2px solid transparent;
                box-sizing: border-box;
                position: relative;
                @include transition(all, 0.25s, ease-in-out);

                .nav-home {
                    background-image: url('/img/icons/logo_w_no_ring.svg');

                    &::after {
                        content: '';
                        position: absolute;
                        height: 2.5em;
                        width: 2.25em;
                        left: 0;
                        background-image: url('/img/icons/logo_c_no_ring.svg');
                        background-position: 0.25em center;
                        background-repeat: no-repeat;
                        background-size: auto 75%;
                        background-color: transparent;
                        @include invisible();
                        @include transition(all, 0.25s, ease-in-out);
                    }

                    &:hover {
                        color: $old-gold;

                        &::after {
                            background-color: $blurple;
                            @include visible();
                        }
                    }
                }

                .nav-links {
                    height: 100%;
                    line-height: 2.5em;
                    display: block;
                    color: white;
                    text-decoration: none;
                    padding: 0 0.5em 0 2.25em;
                    background-position: 0.25em center;
                    background-repeat: no-repeat;
                    background-size: auto 75%;
                    @include transition(all, 0.25s, ease-in-out);

                    &:not(.nav-home) {

                        &:hover {
                            background-color: $light-blurple;
                        }
                    }

                    &:not(.nav-menu):not(.nav-home) {
                        padding-right: 1.5em;

                        &::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            height: 2.5em;
                            width: 1.5em;
                            background-image: url('/img/icons/drop_arrow_down_w.svg');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }

                ul {
                    position: absolute;
                    @include invisible();
                    @include transition(all, 0.25s, ease-in-out);
                    background-color: $light-blurple;
                    margin: 2px 0 0 0;
                    position: absolute;
                    right: 0;
                    width: 125%;
                    text-align: left;
                    list-style-type: none;
                    padding: 0;

                    li {
                        width: 100%;
                        height: 2em;
                        display: block;

                        a {
                            color: white;
                            height: 100%;
                            line-height: 2em;
                            width: calc(100% - 1em);
                            text-decoration: none;
                            display: block;
                            padding-left: 1em;
                            background-color: transparent;
                            @include transition(background-color, 0.25s, ease-in-out);

                            &:hover {
                                background-color: $world-rally-blue;
                            }
                        }
                    }
                }

                &.nav-group-open {
                    border-color: $old-gold;
                    background-color: $light-blurple;

                    .nav-links {
                        &::after {
                            @include rotate(180deg);
                        }
                    }

                    ul {
                        @include visible();
                    }
                }
            }
        }
    }
}

@media #{$small-screen} {
    nav {
        background-color: $blurple;
        min-height: 100%;
        width: auto;
        @include transition(transform, 0.25s, ease-in-out);

        .menu-button {
            display: flex;
            height: 2.5em;
            position: absolute;
            left: 100%;

            .nav-menu {
                background-image: url('/img/icons/menu.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 75%;
                padding: 0 0.5em 0 2.5em;
                display: flex;
                height: 100%;
                line-height: 2.5em;
                color: white;
                text-decoration: none;
                background-color: $blurple;

                &:hover {
                    background-color: $light-blurple;
                }
            }
        }

        .nav-subwrapper {
            width: 100%;
            overflow-y: auto;

            section {
                position: relative;

                .link-group {
                    display: block;
                    border-bottom: none;
                    box-sizing: content-box;

                    ul {
                        position: relative;
                        height: auto;
                        width: 100%;
                    }

                    &:not(.nav-group-open) {
                        ul {
                            height: 0;
                            @include visible;
                            display: none;
                        }
                    }

                    &.nav-group-open {
                        .nav-links {
                            &::after {
                                @include rotate(180deg);
                            }
                        }
                    }
                }
            }
        }

        &:not(.main-menu-open) {
            @include translateX(-100%);

            .nav-subwrapper {
            }
        }

        &.main-menu-open {
            .menu-button {
                .nav-menu {
                    background-image: url('/img/icons/close.svg');
                }
            }
        }
    }
}
