@import 'partials/variables';
@import 'partials/mixins';

//////////////// Navigation Bar ////////////////
nav {
    width: 100%;
    font-family: $montserrat;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;

    section {
        &:first-of-type {
            background-color: $galaxy-blue;
            height: 2.5em;

            div {
                &:first-of-type {
                    float: left;
                    margin-left: 3em;

                    a {
                        background-image: url('../img/icons/logo_w_no_ring.svg');
                        font-family: $open-sans;

                        &::after {
                            content: '';
                            background-image: url('../img/icons/logo_c_no_ring.svg');
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 2.5em;
                            width: 1.7em;
                            background-size: 1.5em;
                            background-position: 0.15em center;
                            background-repeat: no-repeat;
                            visibility: hidden;
                            opacity: 0;
                            @include transition(all, 0.25s, ease-in-out);
                        }

                        &:hover {
                            color: $old-gold;

                            &::after {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &:last-of-type {
                    float: right;
                    margin-right: 3em;

                    a {
                        border-bottom: 2px solid transparent;
                        @include box-sizing(border-box);

                        &:hover {
                            background-color: $world-rally-blue;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    background-position: 0.15em center;
                    background-size: 1.5em;
                    background-repeat: no-repeat;
                    padding-left: 1.7em;
                    padding-right: 0.35em;
                    color: white;
                    background-color: $galaxy-blue;
                    display: inline-block;
                    height: 2.5em;
                    line-height: 2.5em;
                    position: relative;
                    @include transition(all, 0.25s, ease-in-out);

                    &.selected-group {
                        background-color: $world-rally-blue;
                        border-color: white;
                    }
                }
            }
        }

        &:last-of-type {
            background-color: #bbb;

            a {
                text-decoration: none;
            }

            .submenu-button-container {
                text-align: right;

                a {
                    color: white;
                    visibility: visible;
                    opacity: 1;
                    display: inline-block;
                    padding: 0.35em;
                    width: 1.5em;
                    height: 1.5em;
                    background-image: url('../img/icons/close.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 80%;
                    background-color: #bbb;
                    @include transition(background-color, 0.25s, ease-in-out);

                    &:hover {
                        background-color: #ddd;
                    }
                }

                &:not(.open-menu) {
                    height: 0;

                    a {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: inline-block;
                    width: 25%;
                    height: 10em;
                    text-align: center;

                    a {
                        display: inline-block;
                        width: 80%;
                        height: 80%;
                        position: relative;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        color: black;
                        @include transition(color, 0.25s, ease-in-out);

                        span {
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }

                        &:hover {
                            color: white;

                            .fog {
                                opacity: 0.15;
                            }
                        }
                    }
                }

                &.open-submenu {
                    min-height: 10em;
                    padding-top: 1em;
                }

                &.apps-submenu {
                    li {
                        width: 10em;

                        a {
                            @include border-radius(15%);

                            .fog {
                                @include border-radius(15%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.fog {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 100%);
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 100%);
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 100%);
    @include transition(opacity, 0.25s, ease-in-out);
}
