@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
        background-image: url('/img/bkgrds/photography1.jpg');
        background-position: center 45%;
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/the_enemy.jpg');
                background-size: 230% auto;
                background-position: 70% 45%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;

            #flickr-photos {
                .subtitle {
                    font-size: 2em;
                }

                .return-wrapper {
                    display: block;
                    margin-bottom: 2em;

                    .button-wrapper {
                        .button {
                            background-color: $light-br-green;
                            color: white;

                            &:hover {
                                background-color: $british-racing-green;
                            }

                            span {
                                padding-left: 2em;
                                position: relative;

                                &::before {
                                    content: '';
                                    width: 2em;
                                    height: 2em;
                                    background-image: url('/img/icons/ic_arrow_back_white_24px.svg');
                                    background-position: left center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    left: 0;
                                    top: -0.35em;
                                }
                            }
                        }
                    }
                }

                .flickr-photo {
                    width: 25%;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: relative;
                    display: inline-block;
                    float: left;
                    cursor: pointer;
                    background-color: $light-gray;

                    &::before {
                        content: '';
                        padding-top: 100%;
                        display: block;
                        background-color: transparent;
                        @include transition(background-color, 0.25s, ease-in-out);
                    }

                    .link-wrapper {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        a {
                            width: 100%;
                            position: absolute;
                            font-size: 1.75em;
                            color: white;
                            text-shadow: 0 1px 1px black;
                            text-decoration: none;
                            text-align: center;
                            bottom: 1em;
                            opacity: 0.75;
                            @include transition(opacity, 0.25s, ease-in-out);
                        }
                    }

                    &.more-photos {
                        background-color: $dark-gray;
                    }

                    &:hover {
                        &::before {
                            background-color: rgba(0, 0, 0, 0.55);
                        }

                        .link-wrapper {
                            a {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

#lightbox {
    #lightbox-image {
        top: 40%;
    }

    .lightbox-title {
        position: absolute;
        top: 77.5%;
        left: 12.5%;
        margin-bottom: 0;
        font-size: 2.5em;
        color: white;

        &::after {
            content: '';
            width: 2em;
            border-bottom: 0.2em solid #888;
            display: block;
            margin-top: 0.5em;
        }
    }

    a {
        position: absolute;
        top: 88.5%;
        left: 12.5%;
        color: $old-gold;
        font-size: 1.5em;

        &:hover {
            color: $lambo-green;
        }
    }
}
