@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    #piwigo-nav {
        margin-bottom: 0 !important;
    }

    .content-background {
        background-image: url('/img/bkgrds/temple-o.jpg');
        background-position: center 32%;

        @media only screen and (max-width: 3000px) {
            background-image: url('/img/bkgrds/temple-3000.jpg');
        }

        @media only screen and (max-width: 2000px) {
            background-image: url('/img/bkgrds/temple-2000.jpg');
        }

        @media only screen and (max-width: 1000px) {
            background-image: url('/img/bkgrds/temple-1000.jpg');
        }
    }

    .content-wrapper {
        @media only screen and (max-width: 900px) {
            width: 90%;
        }

        @media #{$small-screen} {
            width: 95%;
        }

        .busted {
            font-size: 2em;
        }

        .download-table {
            margin-top: 2em;
            width: 100%;

            tr {
                td {
                    vertical-align: top;
                    border-bottom: 0.083em solid #cfd6d9;
                    padding: 1.25em 0;
                    font-size: 1.2em;
                    font-weight: normal;

                    a {
                        color: $light-purple;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: $light-purple;
                        }
                    }
                }

                .header {
                    width: 10em;
                }

                .photo-back {
                    padding-left: 2em;
                    background-image: url('/img/icons/back_bl.svg');
                    background-size: auto 100%;
                    background-position: left center;
                    background-repeat: no-repeat;
                }

                .download-size {
                    display: block;
                    color: $medium-gray;

                    &.active {
                        color: $dark-gray;
                        font-weight: bold;

                        a {
                            color: black;
                            cursor: text;

                            &:hover {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        .photo-preview {
            overflow-x: auto;
        }
    }
}
