@import 'partials/_variables';
@import 'partials/_mixins';

#piwigo-photos {
    position: relative;
    height: 100%;

    .photo-details {
        font-size: 12px;
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: black;

        .photo-back {
            display: inline-block;
            color: white;
            text-decoration: none;
            margin: 1.5em 0 0 1.5em;
            font-size: 1.167em;
            padding-left: 2em;
            background-image: url('/img/icons/back.svg');
            background-size: auto 100%;
            background-position: left center;
            background-repeat: no-repeat;

            &:hover {
                text-decoration: underline;
            }
        }

        .photo-single-wrapper {
            height: 100%;
            width: 100%;
            position: relative;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            .photo-nav {
                position: absolute;
                height: 100%;
                width: 4em;
                cursor: pointer;
                opacity: 0;
                background-size: auto 3.5em;
                background-repeat: no-repeat;
                @include transition(opacity, 0.2s, ease-in-out);

                &.hover {
                    opacity: 0.65;
                }

                &:hover {
                    opacity: 1;
                }

                &.endpoint {
                    display: none;
                }
            }

            .photo-single-prev {
                left: 0;
                background-image: url('/img/icons/pointer_left.png');
                background-position: 0.833em center;
            }

            .photo-single-next {
                right: 0;
                background-image: url('/img/icons/pointer_right.png');
                background-position: right 0.833em center;
            }
        }
    }

    .photo-single-title, .fullscreen-button {
        &.hover {
            opacity: 0.65;
        }

        &:hover {
            opacity: 1;
        }
    }

    .photo-single-title {
        font-size: 1.65em;
        font-weight: normal;
        margin: 0 0 0 0.5em;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        text-shadow: 0 1px 1px black;
        height: 3rem;
        line-height: 3rem;
        opacity: 0;
        @include transition(opacity, 0.2s, ease-in-out);
    }

    .fullscreen-button {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('/img/icons/fullscreen_exit.svg');
        background-size: contain;
        height: 4em;
        width: 4em;
        opacity: 0;
        @include transition(opacity, 0.2s, ease-in-out);
    }
}
