@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
        background-image: url('/img/bkgrds/code-o.jpg');
        background-position: center center;

        @media only screen and (max-width: 3000px) {
            background-image: url('/img/bkgrds/code-3000.jpg');
        }

        @media only screen and (max-width: 2000px) {
            background-image: url('/img/bkgrds/code-2000.jpg');
        }

        @media only screen and (max-width: 1000px) {
            background-image: url('/img/bkgrds/code-1000.jpg');
        }
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/hdd_not_found-1280.jpg');
                background-size: 225% auto;
                background-position: 50% 64%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;
        }

        #portfolio-app {
            .portfolio-section {
                #github-card {
                    width: 30em;
                    margin: 2.5em auto 2em auto;
                    @include border-radius(4px);
                    border: 1px solid $light-gray;
                    position: relative;
                    background-color: white;

                    .card-header {
                        background-color: $world-rally-blue;
                        background-image: url('/img/icons/github_w.svg');
                        background-size: auto calc(100% - 0.3em);
                        background-position: calc(100% - 0.15em) center;
                        background-repeat: no-repeat;
                        background: url('/img/icons/github_w.svg') calc(100% - 0.15em) center/auto 90% no-repeat, -webkit-linear-gradient(left, $world-rally-blue, $galaxy-blue);
                        background: url('/img/icons/github_w.svg') calc(100% - 0.15em) center/auto 90% no-repeat, -o-linear-gradient(right, $world-rally-blue, $galaxy-blue);
                        background: url('/img/icons/github_w.svg') calc(100% - 0.15em) center/auto 90% no-repeat, -moz-linear-gradient(right, $world-rally-blue, $galaxy-blue);
                        background: url('/img/icons/github_w.svg') calc(100% - 0.15em) center/auto 90% no-repeat, linear-gradient(to right, $world-rally-blue, $galaxy-blue);
                        height: 3.5em;
                        border-bottom: 1px solid $light-gray;
                    }

                    .card-user {
                        border-bottom: 1px solid $light-gray;

                        h2 {
                            font-size: 1.75em;
                            text-align: center;
                            margin: 0.25em auto;

                            a {
                                color: black;
                                text-decoration: none;

                                &::after {
                                    background-image: url('/img/icons/new_window_b.svg');
                                }

                                &:hover {
                                    color: $old-gold;
                                }
                            }
                        }
                    }

                    .card-data {
                        .card-data-section {
                            display: inline-block;
                            width: 50%;
                            text-align: center;

                            h3 {
                                font-size: 1.3em;
                                margin: 0.25em auto 0 auto;
                            }

                            a {
                                font-size: 1.3em;
                                margin-bottom: 0.25em;
                            }

                            &:first-of-type {
                                border-right: 1px solid $light-gray;
                                box-sizing: border-box;
                            }
                        }
                    }

                    .card-pic {
                        @include box-shadow(0 0 1px $light-gray);
                        border: 0.4em solid white;
                        @include border-radius(100%);
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        height: 9em;
                        width: 9em;
                        position: absolute;
                        top: -2em;
                        left: -3em;
                    }

                    @media only screen and (max-width: 450px) {
                        width: 20em;

                        .card-user {
                            h2 {
                                font-size: 1.3em;
                            }
                        }

                        .card-data {
                            .card-data-section {
                                h3, a {
                                    font-size: 1.15em;
                                }
                            }
                        }

                        .card-pic {
                            height: 7em;
                            width: 7em;
                            top: -1.5em;
                            left: -2.5em;
                        }
                    }
                }

                &.projects {
                    .subtitle {
                        margin: 1.25em auto 0.5em auto;

                    }

                    .project-outer {
                        perspective: 10000px;
                        -webkit-perspective: 10000px;
                        -moz-perspective: 10000px;
                        width: calc((100% / 3) - 1.33333333em - 1px);
                        padding-top: calc((100% / 3) - 1.33333333em - 1px);
                        margin: 1em;
                        display: inline-block;
                        float: left;
                        cursor: pointer;

                        &.flipped {
                            .project-inner {
                                @include rotateY(180deg);
                                @include box-shadow(-3px, 3px, 5px, rgba(0, 0, 0, 0.25));
                            }
                        }

                        .project-inner {
                            @include transition(all, 0.5s, ease-in-out);
                            transform-style: preserve-3d;
                            -webkit-transform-style: preserve-3d;
                            -moz-transform-style: preserve-3d;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            @include box-shadow(3px, 3px, 5px, rgba(0, 0, 0, 0.25));
                        }

                        .front, .back {
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .front {
                            z-index: 2;
                            @include rotateY(0deg);
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;

                            .title-wrapper {
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                @include transition-property(opacity, visibility);
                                @include transition-duration(0.25s);
                                @include transition-timing-function(ease-in-out);
                                visibility: hidden;
                                opacity: 0;
                                background-color: rgba(0, 0, 0, 0.5);

                                h2 {
                                    position: absolute;
                                    width: calc(100% - 0.5em);
                                    margin: 0 0.25em;
                                    text-align: center;
                                    color: white;
                                    top: 50%;
                                    @include translateY(-50%);
                                }
                            }
                        }

                        &:hover {
                            .front {
                                .title-wrapper {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }

                        .back {
                            @include rotateY(180deg);
                            background-color: $dark-gray;

                            h2 {
                                margin: 0.25rem;
                                color: white;
                            }

                            h4 {
                                margin: 0.25rem;
                                font-style: italic;
                                font-weight: normal;
                                color: white;
                            }

                            h3 {
                                margin: 0.25rem;
                            }

                            p {
                                margin: 0.25rem;
                                color: white;
                                font-size: 1.15em;
                            }
                        }

                        &:nth-of-type(3n + 1) {
                            margin-left: 0;
                        }

                        &:nth-of-type(3n + 3) {
                            margin-right: 0;
                        }

                        @media only screen and (max-width: 1350px) {
                            width: calc((100% / 3) - 1em - 1px);
                            padding-top: calc((100% / 3) - 1em - 1px);
                            margin: 0.75em;

                            .back {
                                h2 {
                                    margin: 0.15rem;
                                    font-size: 1.35em;
                                }

                                h4 {
                                    margin: 0.15rem;
                                    font-size: 1em;
                                }

                                h3 {
                                    margin: 0.15rem;
                                    font-size: 1.1em;
                                }

                                p {
                                    margin: 0.15rem;
                                    font-size: 1em
                                }
                            }
                        }

                        @media only screen and (max-width: 1200px) {
                            width: calc((100% / 3) - 0.8em - 1px);
                            padding-top: calc((100% / 3) - 0.8em - 1px);
                            margin: 0.6em;

                            .back {
                                h2 {
                                    margin: 0.1rem;
                                    font-size: 1.25em;
                                }

                                h4 {
                                    margin: 0.1rem;
                                }

                                h3 {
                                    margin: 0.1rem;
                                    font-size: 1em;
                                }

                                p {
                                    margin: 0.1rem;
                                    font-size: 0.9em
                                }
                            }
                        }

                        @media #{$small-screen} {
                            width: calc((100% / 3) - 1.33333333em - 1px);
                            padding-top: calc((100% / 3) - 1.33333333em - 1px);
                            margin: 1em;

                            .back {
                                h2 {
                                    margin: 0.25rem;
                                    font-size: 1.5em;
                                }

                                h4 {
                                    margin: 0.25rem;
                                    font-size: 1.1em;
                                }

                                h3 {
                                    margin: 0.25rem;
                                    font-size: 1.25em;
                                }

                                p {
                                    margin: 0.25rem;
                                    color: white;
                                    font-size: 1.2em;
                                }
                            }
                        }

                        @media only screen and (max-width: 650px) {
                            .back {
                                h2 {
                                    margin: 0.15rem;
                                    font-size: 1.35em;
                                }

                                h4 {
                                    margin: 0.15rem;
                                    font-size: 1em;
                                }

                                h3 {
                                    margin: 0.15rem;
                                    font-size: 1.1em;
                                }

                                p {
                                    margin: 0.15rem;
                                    font-size: 1em
                                }
                            }
                        }

                        @media only screen and (max-width: 550px) {
                            width: calc(50% - 1em - 1px);
                            padding-top: calc(50% - 1em - 1px);

                            &:nth-of-type(3n + 1) {
                                margin-left: 1em;
                            }

                            &:nth-of-type(3n + 3) {
                                margin-right: 1em;
                            }

                            &:nth-of-type(odd) {
                                margin-left: 0 !important;
                            }

                            &:nth-of-type(even) {
                                margin-right: 0 !important;
                            }

                            .back {
                                h2 {
                                    margin: 0.25rem;
                                    font-size: 1.5em;
                                }

                                h4 {
                                    margin: 0.25rem;
                                    font-size: 1.1em;
                                }

                                h3 {
                                    margin: 0.25rem;
                                    font-size: 1.25em;
                                }

                                p {
                                    margin: 0.25rem;
                                    font-size: 1.2em;
                                }
                            }
                        }

                        @media only screen and (max-width: 425px) {
                            .back {
                                h2 {
                                    margin: 0.15rem;
                                    font-size: 1.35em;
                                }

                                h4, h3, p {
                                    margin: 0.15rem;
                                    font-size: 1em;
                                }
                            }
                        }

                        img {
                            width: 2.25em;
                            height: 2.25em;
                            position: absolute;
                            bottom: 0.25em;
                            right: 0.25em;
                            opacity: 0.8;
                        }
                    }

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }
                }
            }
        }
    }
}
