@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/walk_tall.jpg');
                background-size: 205% auto;
                background-position: 52% 50%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;
        }

        #work-app {
            .resume-section {

            }

            .work-section {
                .work-entry {
                    font-size: 1.35em;

                    .company-icon {
                        width: 6em;
                        height: 6em;
                        margin-right: 1em;
                        display: inline;
                    }

                    .work-header {
                        width: calc(100% - 7em);
                        display: inline-block;
                        height: 6em;

                        h4 {
                            // margin: 0 0 0.15em 0;
                            margin: 0;
                            height: 1.5em;
                            line-height: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
