@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/walk_tall.jpg');
                background-size: 205% auto;
                background-position: 52% 50%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;
        }

        #work-app {
            .resume-section {
                font-size: 1.35em;

                .subtitle {
                    font-size: 1.5em;
                }

                &:not(.main-section) {
                    .subtitle {
                        margin-top: 1.5em;
                    }
                }

                .icon-wrapper {
                    width: 6em;
                    height: 6em;
                    margin-right: 1em;
                    position: relative;
                    float: left;

                    .company-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                h4 {
                    margin: 0;
                }

                ul {
                    list-style-position: inside;
                    padding-left: 0;
                }
            }

            .main-section, .education-section {
                .icon-wrapper {
                    .company-icon {
                        @include transition-property(opacity, visibility);
                        @include transition-duration(0.25s);
                        @include transition-timing-function(ease-in-out);

                        &.current-icon {
                            visibility: visible;
                            opacity: 1;
                        }
                        &.old-icon {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }

                    &:hover {
                        .company-icon {
                            &.current-icon {
                                visibility: hidden;
                                opacity: 0;
                            }

                            &.old-icon {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .work-section, .education-section {
                .work-entry, .school-entry {
                    .work-header, .school-header {
                        width: calc(100% - 7em);
                        display: inline-block;

                        h4 {
                            &.subheader {
                                font-weight: normal;
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            .skills-section {
                .skill-entry {
                    ul {
                        @include columns(2);

                        li {
                        }
                    }
                }
            }

            .education-section {
                .school-entry {
                    display: flex;

                    &:not(:last-of-type) {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }
}
