//////////////// Variables ////////////////
$open-sans: 'Open Sans', 'Verdana', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
$world-rally-blue: #0736f8;
$galaxy-blue: #102684;
$dark-blue: #12193b;
