@import 'partials/_variables';
@import 'partials/_mixins';

.content {
    .content-background {
        background-image: url('/img/bkgrds/cars2.jpg');
        background-position: center 85%;
        // background-image: url('/img/bkgrds/cars5.jpg');
        // background-position: center 80%;
    }

    .content-wrapper {
        .content-picture {
            @media #{$small-screen} {
                background-image: url('/img/content/boxer_boy.jpg');
                background-size: 200% auto;
                background-position: 90% 36%;
            }
        }

        .content-section {
            margin-bottom: 1.25em;
        }
    }
}

#car-companion {
    width: 100%;
    position: relative;
    // @include transition(all, 0.25s, ease-in-out);

    .car-image-wrapper {
        width: 100%;
        position: relative;

        .car-nav-button {
            width: 3em;
            height: 8em;
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            background-color: rgba(80, 80, 80, 0.25);
            @include transition(background-color, 0.25s, ease-in-out);
            cursor: pointer;

            &.car-wrapper-prev {
                left: 0;
            }

            &.car-wrapper-next {
                right: 0;
            }

            &:hover {
                background-color: rgba(80, 80, 80, 0.5);
            }

            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                @include translateY(-50%);
            }
        }

        .car-image {
            width: calc(100% - 6em);
            padding-top: 56.25%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: black;
            margin: 0 auto;

            .car-name {
                width: calc(100% - 4.333em);
                font-size: 1.5em;
                color: white;
                font-weight: bold;
                position: absolute;
                top: 0;
                margin: 0;
                opacity: 0.25;
                padding: 0.333em 0 0 0.333em;
                @include transition(all, 0.25s, ease-in-out);
                @include box-shadow(0 8px 4px -4px transparent);
                background-color: transparent;
            }

            &:hover {
                .car-name {
                    opacity: 0.8;
                    background-color: rgba(0, 0, 0, 0.25);
                    @include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }
        }

        .image-options {
            position: absolute;
            width: calc(100% - 6em);
            height: 2.5em;
            bottom: 0.5em;
            right: 3em;
            text-align: right;

            .image-button {
                display: inline-flex;
                height: 100%;
                width: 2.5em;
                margin: 0 0.25em;
                background-color: $dark-gray;
                border: 1px solid white;
                @include transition(all, 0.25s, ease-in-out);
                background-size: 80% auto;
                background-repeat: no-repeat;
                background-position: center center;
                bottom: 0.5em;
                opacity: 0.5;
                cursor: pointer;

                &.external-button {
                    background-image: url('/img/icons/new_window_w.svg');

                    &::after {
                        content: none;
                    }

                    &.disabled {
                        cursor: auto;
                        opacity: 0.25;

                        &:hover {
                            background-color: $dark-gray;
                            opacity: 0.25;
                        }
                    }
                }

                &.gallery-button {
                    background-image: url('/img/icons/collections_w.svg');
                }

                &.fullscreen-button {
                    margin-right: 0.5em;
                    background-size: cover;
                    background-image: url('/img/icons/fullscreen.svg')
                }

                &:hover {
                    background-color: $world-rally-blue;
                    opacity: 1;
                }
            }
        }
    }

    .car-info {
        width: calc(100% - 6em);
        margin: 0 3em;
        background-color: #151515;
        color: $light-gray;

        .info {
            width: 25%;
            padding-top: 20%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-flex;
            position: relative;
            margin: 0 1%;

            &:first-of-type {
                margin-left: 2%;
            }

            &.car-engine, &.car-induction {
                span {
                    position: absolute;
                    font-size: 2.5em;
                    font-weight: bold;
                    bottom: 5%;
                    right: 5%;
                }
            }
        }

        .small-info {
            width: 15%;
            padding-top: 20%;
            margin: 0 2% 0 1%;
            background-image: url('/img/icons/hybrid.svg');
            background-size: auto 65%;
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-flex;
            opacity: 0.05;

            &.car-hybrid {
                opacity: 1;
            }
        }
    }

    .car-specs {
        width: calc(100% - 6em);
        margin: 0 3em;
        background-color: #151515;
        color: $light-gray;

        .car-spec {
            width: 22.5%;
            margin: 0 1%;
            display: inline-flex;
            padding-top: 20%;
            position: relative;

            &:first-of-type {
                margin-left: 2%;
            }

            &:last-of-type {
                margin-right: 2%;
            }

            .displ-gauge {
                display: inline-block;
                position: absolute;
                overflow: hidden;
                top: 33.333%;
                left: 50%;
                @include translate(-50%, -50%);

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    @include border-radius(12em 12em 0 0);
                    background: $light-gray;
                }

                .displ-meter {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 100%;
                    @include transition(all, 0.25s, ease-in-out);
                    @include transform-origin(center top);
                    @include border-radius(0 0 12em 12em);
                    background: $world-rally-blue;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    @include translateX(-50%);
                    width: 60%;
                    height: 60%;
                    background: #151515;
                    @include border-radius(12em 12em 0 0);
                }
            }

            .displ-text {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 5%;
                font-size: 2em;
            }

            .pow-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .hp-bar, .tq-bar {
                    position: relative;
                    // width: 90%;
                    height: 20%;
                    left: 5%;
                    @include transition(width, 0.25s, ease-in-out);
                }

                .hp-bar {
                    margin-top: 15%;
                    background-color: $martini-sky-blue;
                }

                .tq-bar {
                    background-color: $martini-red;
                }

                .pow-text {
                    width: 100%;
                    position: absolute;
                    bottom: 5%;
                    text-align: center;
                    font-size: 1.5em;
                }
            }
        }
    }
}
