<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Brandon S. Hang"/>
        <base href="/">
        <title>Brandon S. Hang</title>
        <link type="image/x-icon" rel="shortcut icon" href="/img/icons/icon.ico"/>
        <link rel="apple-touch-icon" href="/img/icons/apple-logo.png"/>
        <link rel="icon" href="/img/icons/android-logo.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link type="text/css" rel="stylesheet" href="/css/common.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/nav.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/piwigo-albums.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/piwigo-nav.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="/js/bhangular.min.js"></script>
        <script type="text/javascript" src="/js/piwigo-nav.min.js"></script>
    </head>
    <body>
        <nav ng-app="bhang-app" ng-controller="bhang-ctrl" class="nav-menu" ng-include="'/components/html/navbar.html'" ng-class="{'main-menu-open': mobileMenu}"></nav>
        <div class="content">
            <div class="content-background"></div>
            <div ng-app="piwigo-nav-app" ng-controller="piwigo-nav-ctrl" id="piwigo-nav" ng-include="'/components/html/piwigo.html'"></div>
            <div class="content-wrapper">
                <div class="content-section">
                    <div ng-app="piwigo-app" ng-controller="piwigo-ctrl" id="piwigo-photos">
                        <div ng-if="loadingAlbum || loadAlbumError" class="album-loader">
                            <div ng-class="loadAlbumError ? 'album-err-msg' : 'album-load-msg'">
                                <h3 ng-if="!loadAlbumError">Loading albums...</h3>
                                <h3 ng-if="loadAlbumError">An error occurred loading albums from Piwigo.</h3>
                                <h3 ng-if="loadAlbumError">Try again later.</h3>
                            </div>
                        </div>
                        <a ng-repeat="album in albumData.result" href="/photography/albums/album/photoset/{{album.id}}" class="album-wrapper card" style="background-image: url('{{album.tn_url}}')">
                            <div class="album-inner">
                                <h3 class="album-title">{{album.name}}</h3>
                                <h4 class="album-contents">{{album.nb_images}} {{album.nb_images === 1 ? 'photo' : 'photos'}}</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" ng-app="footer" ng-controller="footwork" ng-include="'/components/html/footer.html'"></footer>
        <script type="text/javascript" src="/js/piwigo-albums.min.js"></script>
    </body>
</html>
