//////////////// Mixins ////////////////
@mixin transition($property, $time, $type) {
    transition: $property $time unquote($type);
    -webkit-transition: $property $time unquote($type);
    -moz-transition: $property $time unquote($type);
    -o-transition: $property $time unquote($type);
}

@mixin rotate($amt) {
    transform: rotate($amt);
    -webkit-transform: rotate($amt);
    -moz-transform: rotate($amt);
    -o-transform: rotate($amt);
}

@mixin rotateY($amt) {
    transform: rotateY($amt);
    -webkit-transform: rotateY($amt);
    -moz-transform: rotateY($amt);
    -o-transform: rotateY($amt);
}

@mixin box-sizing($type) {
    box-sizing: $type;
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
}

@mixin border-radius($rad) {
    border-radius: $rad;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
}

@mixin box-shadow($a, $b: "", $c: "", $d: "") {
    box-shadow: $a unquote($b) unquote($c) unquote($d);
    -webkit-box-shadow: $a unquote($b) unquote($c) unquote($d);
    -moz-box-shadow: $a unquote($b) unquote($c) unquote($d);
}

@mixin translateY($amt) {
    transform: translateY($amt);
    -webkit-transform: translateY($amt);
    -ms-transform: translateY($amt);
    -moz-transform: translateY($amt);
    -o-transform: translateY($amt);
}

@mixin translateX($amt) {
    transform: translateX($amt);
    -webkit-transform: translateX($amt);
    -ms-transform: translateX($amt);
    -moz-transform: translateX($amt);
    -o-transform: translateX($amt);
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}

@mixin translateY-calc($calc1, $calc2) {
    transform: translateY($calc1) translateY($calc2);
    -webkit-transform: translateY($calc1) translateY($calc2);
    -ms-transform: translateY($calc1) translateY($calc2);
    -moz-transform: translateY($calc1) translateY($calc2);
    -o-transform: translateY($calc1) translateY($calc2);
}

@mixin invisible() {
    visibility: hidden;
    opacity: 0;
}

@mixin visible() {
    visibility: visible;
    opacity: 1;
}

@mixin vertical-gradient($top, $bottom) {
    background: linear-gradient($top, $bottom);
    background: -webkit-linear-gradient($top, $bottom);
    background: -moz-linear-gradient($top, $bottom);
    background: -o-linear-gradient($top, $bottom);
}

@mixin vertical-triple-gradient($top, $middle, $bottom) {
    background: linear-gradient($top, $middle, $bottom);
    background: -webkit-linear-gradient($top, $middle, $bottom);
    background: -moz-linear-gradient($top, $middle, $bottom);
    background: -o-linear-gradient($top, $middle, $bottom);
}

@mixin transform-origin($pos) {
    transform-origin: $pos;
    -webkit-transform-origin: $pos;
    -moz-transform-origin: $pos;
    -ms-transform-origin: $pos;
    -o-transform-origin: $pos;
}

@mixin transition-duration($time) {
    transition-duration: $time;
    -webkit-transition-duration: $time;
    -moz-transition-duration: $time;
    -o-transition-duration: $time;
}

@mixin transition-property($property...) {
    transition-property: $property;
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    -o-transition-property: $property;
}

@mixin transition-timing-function($fxn) {
    transition-timing-function: $fxn;
    -webkit-transition-timing-function: $fxn;
    -moz-transition-timing-function: $fxn;
    -o-transition-timing-function: $fxn;
}

@mixin columns($num) {
    columns: $num;
    -webkit-columns: $num;
    -moz-columns: $num;
}

@mixin scale($amt) {
    transform: scale($amt);
    -webkit-transform: scale($amt);
    -ms-transform: scale($amt);
    -moz-transform: scale($amt);
    -o-transform: scale($amt);
}
