//////////////// Variables ////////////////
$open-sans: 'Open Sans', 'Verdana', sans-serif;
$montserrat: 'Montserrat', 'Georgia', sans-serif;
$world-rally-blue: #0736f8;
$galaxy-blue: #102684;
$dark-blue: #12193b;
$old-gold: #d4b92b;
$ice-silver: #d2d8e1;
$dark-purple: #2e2635;
$brick-red: #b42929;
$brick-red-fade: #792525;
$british-racing-green: #014225;
$asteroid-grey: #838383;
$faded-grey: rgba(124, 124, 124, 0.75);
