//////////////// Variables ////////////////
$open-sans: 'Open Sans', 'Verdana', sans-serif;
$montserrat: 'Montserrat', 'Georgia', sans-serif;
$world-rally-blue: #0736f8;
$galaxy-blue: #102684;
$blurple: #192871;
$light-blurple: #1c34a6;
$bold-blurple: #1f3bc1;
$lapis-blue: #2b59b6;
$dark-blue: #12193b;
$old-gold: #d4b92b;
$dark-gold: #8c792c;
$ice-silver: #d2d8e1;
$dark-purple: #2e2635;
$royal-purple: #372a89;
$light-purple: #5979fc;
$dark-gray: #31363a;
$medium-gray: #6a747c;
$light-gray: #b6bbbe;
$brick-red: #b42929;
$brick-red-fade: #792525;
$british-racing-green: #014225;
$light-br-green: #0e7145;
$asteroid-grey: #838383;
$faded-grey: rgba(124, 124, 124, 0.75);
$martini-dark-blue: #1e2633;
$martini-sky-blue: #52b6d6;
$martini-red: #ca0000;
$gulf-dark-blue: #274287;
$gulf-sky-blue: #b3e2fc;
$gulf-orange: #ff7101;
$nomos-blue: #0052db;
$small-screen: "only screen and (max-width: 820px)";
