<div class="bsh-ift"></div>
<div class="quick-links">
    <a class="linkedin" href="https://www.linkedin.com/in/brandonhang" target="_blank" title="LinkedIn"></a>
    <a class="github" href="https://github.com/brandonhang" target="_blank" title="GitHub"></a>
    <a class="youtube" href="https://www.youtube.com/playlist?list=PLr-gFI33RZBw-uQb17DgehrGYP9CotwZ_" target="_blank" title="YouTube"></a>
</div>
<h4>Turbocharged by Brandon S. Hang &copy;&nbsp;2019</h4>
<h4>Special thanks to Alexandra &amp; Rachael Savage, Ben Lind, and the Hang family</h4>
<h4>Version 3.4.0</h4>
