<a id="main-menu" class="nav-links" href="#" ng-click="openMainMenu($event)" ng-class="{'nav-menu-open': navMenu.main}">{{ navMenu.main ? "CLOSE" : "MENU" }}</a>
<nav class="nav-menu" ng-class="{'nav-menu-open': navMenu.main}">
    <ul>
        <a class="nav-links" href="/" ng-click="closeMenu()">HOME</a>
    </ul>
    <ul ng-class="{'nav-group-open': navMenu.Personal}">
        <a class="nav-links" href="#" ng-click="openSubMenu($event, 'Personal')">PERSONAL</a>
        <li ng-repeat="link in navData.personal.links">
            <a class="nav-links" href="/personal#{{ link.url }}" ng-click="closeMenu()" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
        </li>
    </ul>
    <ul ng-class="{'nav-group-open': navMenu.Professional}">
        <a class="nav-links" href="#" ng-click="openSubMenu($event, 'Professional')">PROFESSIONAL</a>
        <li ng-repeat="link in navData.professional.links">
            <a class="nav-links" href="/professional#{{ link.url }}" ng-click="closeMenu()" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
        </li>
    </ul>
    <ul ng-repeat="navGroup in navData.miscellaneous" ng-class="{'nav-group-open': navMenu[navGroup.group] == true}">
        <a class="nav-links" href="#" ng-click="openSubMenu($event, navGroup.group)">{{ navGroup.group | uppercase }}</a>
        <li ng-repeat="link in navGroup.links">
            <a class="nav-links" href="/{{ navGroup.group | lowercase }}/{{ link.url }}" ng-click="closeMenu()" style="background-image: url('./img/icons/{{ link.img }}');">{{ link.title }}</a>
        </li>
    </ul>
</nav>
