<div class="menu-button">
    <a class="nav-links nav-menu" href="#" ng-click="openMainMenu($event)">{{mobileMenu ? 'CLOSE' : 'MENU'}}</a>
</div>
<div class="nav-subwrapper">
    <section>
        <div class="link-group">
            <a class="nav-links nav-home" href="/">Brandon S. Hang</a>
        </div>
    </section>
    <section>
        <div class="link-group" ng-repeat="(navGroup, navGroupData) in navData" ng-class="{'nav-group-open': navMenu[navGroup]}">
            <a class="nav-links" href="#" ng-click="openSubMenu($event, navGroup)" style="background-image: url('/img/icons/{{navGroupData.icon}}');">{{navGroup | uppercase}}</a>
            <ul>
                <li ng-repeat="link in navGroupData.links">
                    <a class="nav-link" href="/{{link.url}}.html">{{link.title}}</a>
                </li>
            </ul>
        </div>
    </section>
</div>
