<section>
    <div class="home-button">
        <a href="/" ng-click="navigate($event, 'home'); closeMenu($event)">Brandon S. Hang</a>
    </div>
    <div class="submenu-button-container" ng-class="{'open-menu': activeSubMenuName != ''}">
        <a id="submenu-button" href="#" ng-click="closeMenu($event)">&nbsp;</a>
    </div>
    <div class="nav-links">
        <a ng-repeat-start="(navName, navGroup) in navData" href="#" class="subnav" ng-class="{'selected-group': activeSubMenuName == navName}" ng-click="openSubMenu($event, navName)" style="background-image: url('./img/icons/{{ navGroup.icon }}');">{{ navName | uppercase }}</a><!--
    ---><ul ng-repeat-end ng-class="{'open-submenu': activeSubMenuName == navName, 'apps-submenu': navName == 'applications'}"><!--
        ---><li ng-repeat="link in navGroup.links"><!--
            ---><a href="/{{ navName }}#{{ link.url }}" ng-click="navigate($event, link.url); closeMenu($event)" style="background: url('./img/bkgrds/{{ link.bkgrd }}') center/cover no-repeat;"><!--
                ---><div class="fog"></div><!--
                ---><span>{{ link.title }}</span><!--
            ---></a><!--
        ---></li><!--
    ---></ul>
    </div>
</section>
