<div class="splash-wrapper">
    <div class="splash-wrapper-inner">
        <div class="introduction">
            <h1 class="title caption">{{ splashData.caption | escape }}</h1>
            <p class="abridged-bio">{{ splashData.abridgedBio | escape }}</p>
        </div>
        <div class="view-selector">
            <a href="personal" ng-click="navigate($event, 'personal')"><button class="button">Learn About Me</button></a><!--
        ---><a href="personal" ng-click="navigate($event, 'professional')"><button class="button">View My Work</button></a>
        </div>
    </div>
</div>
